*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  linear-gradient(-45deg, #ffcdb2, #b5838d);
}
#root {
  color: #6d6875;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0px 20px 0px 20px;
  background-color: white;
  border-radius: 1rem;
}
.postform {
  display: flex;
  flex-direction: column;
  padding: 40px 60px 20px 60px;
  /* border-bottom: 1px #6d6875 solid; */
}
.postform > h1 {
  text-align: center;
  letter-spacing: 0.04rem;
}

.postform > label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.postform > input,
.postform > textarea{
  padding: 4px 8px;
  outline: transparent;
  caret-color: #b5838d;
  color: #6d6875;
  border-radius: 0.4rem;
  border: 1px #979797 solid;
}
.postform > input:focus,
.postform > textarea:focus {
  box-shadow: 0px 0px 6px rgba(109, 104, 117, 0.2);
  border-color: #b5838d;
}

.postform > textarea {
  height: 120px;
}

#toggel {
  display: flex;
  background-color: #6d6875;
  color: white;
  border-radius: 1rem;
}
.tag {
  flex-grow: 1;
  text-align: center;
  letter-spacing: 0.08rem;
  padding: 8px 0px;
  border-radius: 1rem;
  cursor: pointer;
}
.tag.active {
  background-color: #b5838d;
}
.postform > button {
  margin-top: 30px;
  padding: 10px 0;
  letter-spacing: 0.2rem;
  font-size: 18px;
  background-color: #6d6875;
  border: none;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}
.postform > button:hover {
  background-color: #b5838d;
  color: white;
  box-shadow: 0px 0px 6px #6d6875;
}
::placeholder{
  color: #BFC0C0;
}
::-webkit-input-placeholder { /* Chrome, Safari */
  color: #BFC0C0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #BFC0C0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #BFC0C0;
  opacity: 1;
}


.articles {
  padding: 10px 0px;
}